/* ----------------------------- Toggle ----------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: background 0.5s ease;
}

.label {
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  height: 26px;
  width: 50px;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.titulo {
  transition: color 0.5s ease;
}

.fa-moon {
  color: #f1c40f;
  margin: 2px;
}

.fa-sun {
  color: #f39c12;
  margin: 2px;
}
/*
label - relative
ball - absolute
*/
.ball {
  height: 22px;
  width: 22px;
  background-color: white;
  position: absolute;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  transition: transform 0.5s ease;
}

body.dark {
  background-color: #292c35;
  color: white;
}
